.image-grid{
  display: grid;
  grid-template-columns: repeat(4, 0.4fr);
  gap: 20px;
  padding: 0 8px;
  margin: 10px;
}
.video-grid {
  display: grid;
  grid-template-columns: repeat(2, 0.6fr);
  gap: 20px;
  padding: 0 8px;
  margin: 10px;
}

.media-box {
  border-radius: 16px;
  padding: 4px;
  background: linear-gradient(to right, #007cf0, #00dfd8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-box img,
.video-item {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  background-color: #fff; /* Optional inner background */
}


img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

.video-item {
  width: 80%;
  height: 500px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 12px;
  border: 2px solid #000;
  display: block;
  margin-left: 60px;
}

@media (max-width: 600px) {
  .image-grid,
  .video-grid {
    grid-template-columns: 1fr;
  }
}
